# NTL-SysToolbox — Variables d'environnement
# Copier ce fichier en .env et remplir vos valeurs.
# NE JAMAIS COMMITER .env

# MySQL
NTL_MYSQL_USER=wms_user
NTL_MYSQL_PASSWORD=changeme

# SSH (acces WMS-DB Ubuntu)
NTL_SSH_USER=sysadmin
NTL_SSH_PASSWORD=changeme

# General
NTL_GENERAL_LOG_LEVEL=INFO
